<div class="container-fluid cart-list">
    <div class="row">
        <div class="col-sm-12">
            <h3>Why did you bring us here?</h3>
            <p>No, of course not. It was&hellip; uh&hellip; porno. Yeah, that's it. As an interesting side note, as a head without a body, I envy the dead. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness.</p>
            <br>
            <h3>Who's brave enough to fly into something we all keep calling a death sphere?</h3>
            <p>Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards. Also Zoidberg. It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a race car. Is any of this getting through to you?</p>
            <br>
            <h3>Can I use the gun?</h3>
            <p>In our darkest hour, we can stand erect, with proud upthrust bosoms. Yeah, I do that with my stupidness. But existing is basically all I do! It's a T. It goes "tuh". That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him! We don't have a brig.</p>
            <br>
            <h3>You're going to do his laundry?</h3>
            <p>Also Zoidberg. She also liked to shut up! Can I use the gun? Goodbye, cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be&hellip; Calculon is gonna kill us and it's all everybody else's fault! Noooooo!</p>
            <br>
            <h3>What kind of a father would I be if I said no?</h3>
            <p>Hey, guess what you're accessories to. I feel like I was mauled by Jesus. Why yes! Thanks for noticing. This is the worst part. The calm before the battle. Now, now. Perfectly symmetrical violence never solved anything. Hey! I'm a porno-dealing monster, what do I care what you think?</p>
            <br>
            <h3> Look, perhaps you could let me work for a little food?</h3>
            <p>There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Tell her you just want to talk. It has nothing to do with mating. I was all of history's great robot actors - Acting Unit 0.8; Thespomat; David Duchovny! And yet you haven't said what I told you to say! How can any of us trust you? Oh, how I wish I could believe or understand that! There's only one reasonable course of action now: kill Flexo!</p>
            <p>Ooh, name it after me! WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT! Kids have names? Bender, being God isn't easy. If you do too much, people get dependent on you, and if you do nothing, they lose hope. You have to use a light touch. Like a safecracker, or a pickpocket. No argument here. Who are you, my warranty?!</p>
        </div>
    </div>
</div>
